@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@font-face { font-family: Junebug; src: url('Cairo.ttf'); } 
@media only screen and (max-width:450px) and (min-width:250px){
    body{
        background-color: #0f0e0e;
    }

    * {
        box-sizing: border-box;
      }
      
      /* Position the image container (needed to position the left and right arrows) */
      .container {
        position: relative;
      }
      
      /* Hide the images by default */
      .mySlides {
        display: none;
      }
      
      /* Add a pointer when hovering over the thumbnail images */
      .cursor {
        cursor: pointer;
      }
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      
      /* Container for image text */
      .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Six columns side by side */
      .column {
        float: left;
        width: 16.66%;
      }
      
      /* Add a transparency effect for thumnbail images */
      .demo {
        opacity: 0.6;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }


    .name{
        font-size: 3.25vw;
        margin-left: 2vw;
        color: white;
        float: center;
        text-align: center;
        font-family: 'Junebug',sans-serif;
    }

    .imdb{
        width: 5vw;
        margin-left: 2vw;
    }

    .scrollbar{
        max-height: 50%;
        border: 1x solid white;
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        margin: 0 auto;
    }
    .scrollbar .item{
        width:100px;
        height:150px;
        margin: 0.5em;
        padding: 1vw;
        padding-top: 10px;
        border-radius: 12.5px;
    }
    .scrollbartext{
        font-size: 4vw;
        margin-left: 10px;
        color: white;
        text-align: left;
        font-family: 'Junebug',sans-serif;
    }
    h1{
        font-size: 7.5vw;
        color: white;
        text-align: center;
        font-family: 'Junebug',sans-serif;
    }

    .btn{
        border: none;
        color: grey;
        font-size: 14px;
        background-color: transparent;
        font-family: 'Junebug',sans-serif;
        transition: all 1.1s;
        position: relative;
        left: 77.5vw;
    }
    .btn:hover{
        transform: scale(0.9);
    }

    
}
