@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');








@media only screen and (max-width:450px) and (min-width:250px){

    
    body{
        background-color: black;
    }

    .slideshow-container{
        max-width: 500px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 35px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

    .scrollbar{
        max-height: 50%;
        border: 1x solid white;
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        margin: 0 auto;
    }
    .scrollbar .item{
        width:110px;
        height:170px;
        padding: 1vw;
        padding-top: 10px;
        border-radius: 20px;
    }
    .scrollbartext{
        font-size: 4vw;
        color: white;
        font-family: 'Tajawal',sans-serif;

    }
    }
    h1{
        font-size: 7.5vw;
        color: white;
        text-align: center;
        font-family: 'Tajawal',sans-serif;
    }

    .btn{
        border: none;
        color: grey;
        font-size: 14px;
        background-color: transparent;
        font-family: 'Tajawal',sans-serif;
        transition: 1.1s;
        position: relative;
        left: 77.5vw;
    }
    .btn:hover{
        transform: scale(0.9);
    }
