@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
body{
        background-color: rgb(12, 11, 11);
    }

.scrollbar{
    max-height: 100%;
    border: 1x solid white;
    display: flex;
    overflow-x: visible;
    margin: 0 auto;

}
.scrollbar::-webkit-scrollbar{
    width: 0px;
}
.scrollbar .item{
    margin-right: 2px;
    width:15vw;
    height:20vw;
    border-radius: 25px;
    transition: 1.25s;
    padding: 5px;
}
.scrollbar .item:hover{
    transform: scale(1.025);
}
h1{
    font-family: 'Marcellus', serif;
    font-size: 2vw;
    margin-left: 20px;
    transition: 1.25s;
    color: whitesmoke;
}
h1:hover{
    color: royalblue;
    transform: scale(1.01);
}
h2{
    font-family: 'Tajawal', sans-serif;
    font-size: 2vw;
    margin-left: 20px;
    transition: 1.25s;
    color: whitesmoke;
}
h2:hover{
    color: royalblue;
    transform: scale(1.01);
}
header{
    width: 100%;
    height: 100%;
}





ul {
    margin-top: 10px;
    width: auto;
    text-align: center;
}

li{
    display: inline-block;
    padding: 0px 0px;
}
li:hover{
    transform: scale(1.05);
    cursor: pointer;
}

a{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-size:5vw;
    font-family: 'Tajawal', sans-serif;
}
a:hover{
    color: cornflowerblue;
}


@media only screen and (max-width:450px) and (min-width:250px){

    body{
        background-color: rgb(12, 11, 11);
    }

    .slideshow-container{
        max-width: 500px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

    .logo{
        text-align: center;
        font-size: 7.5vw;
        color: whitesmoke;
        font-family: 'Tajawal',sans-serif;
        transition: 1.25s;
        margin-top: -1s5vw
    }
    .scrollbar{
        max-height: 50%;
        border: 1x solid white;
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        margin: 0 auto;
    }
    .scrollbar .item{
        width:150px;
        height:225px;
    }
    .scrollbartext{
        font-size: 5vw;
    }
    .slidetext{
        text-align: center;
        color: white;
        font-family: 'Marcellus', serif;
    }
    h1{
        font-size: 4vw;
        color: white;
        text-align: left;
    }

    ul {
    margin-top: -35px;
    margin-right: 10px;
    width: auto;
    float: right;
}

    li{
    display: inline-block;
    padding: 5px;
    width: auto;
    }

    a{
    font-size:4vw;
    text-align: right;
    color: white;
    }




}