@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
body{
        background-color: rgb(12, 11, 11);
    }

.scrollbar{
    max-height: 100%;
    border: 1x solid white;
    display: flex;
    overflow-x: visible;
    margin: 0 auto;

}
.scrollbar::-webkit-scrollbar{
    width: 0px;
}
.scrollbar .item{
    margin-right: 2px;
    width:15vw;
    height:20vw;
    border-radius: 25px;
    transition: 1.25s;
    padding: 5px;
}
.scrollbar .item:hover{
    transform: scale(1.025);
}
h1{
    font-family: 'Marcellus', serif;
    font-size: 2vw;
    margin-left: 20px;
    transition: 1.25s;
    color: whitesmoke;
}
h1:hover{
    color: royalblue;
    transform: scale(1.01);
}







@media only screen and (max-width:450px) and (min-width:250px){

    body{
        background-color: black;
    }

    .slideshow-container{
        max-width: 500px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 35px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

    .scrollbar{
        max-height: 50%;
        border: 1x solid white;
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        margin: 0 auto;
    }
    .scrollbar .item{
        width:110px;
        height:170px;
    }
    .scrollbartext{
        font-size: 5vw;
        color: white;
        font-family: 'Tajawal',sans-serif;

    }
    }
    h1{
        font-size: 7.5vw;
        color: white;
        text-align: left;
        font-family: 'Rampart One', cursive;
    }


    .footer{
        position: fixed;
        display: inline-flex;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20vw;
        margin-bottom: 5vw;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 25vw;
    }
    .footertext{
        font-size: 6vw;
        margin: 0 auto;
        text-align: center;
        border: none;
        color: white;
        background-color: transparent;
        transition: 0.9s;
        font-family: 'Tajawal',sans-serif;
    }
    .footertext:hover{
        transform: scale(0.95);
        color: royalblue;
    }
