@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@font-face { font-family: Junebug; src: url('Cairo.ttf'); } 
@media only screen and (max-width:450px) and (min-width:250px){
    body{
        background-color: black;
        line-height: 1em;
    }

    .Recommended{
        text-align: center;
        font-size: 5vw;
        color: white;
        padding-top: 25px;
    }

    .slidecontainer{
        max-height: 50%;
        display: flex;
        align-items: center;
        justify-content: left;
        overflow-x: auto;
        overflow-y: auto;
        padding: 0;
    }

    .slideshow{
        height: 60vw;
        width: 40vw;
        margin: 5px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .cate{
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
    }

    .category{
        padding: 1vw;
        margin: 5px;
        font-size: 4vw;
        color: white;
        border: none;
        border-radius: 10px;
        background-color: #3b3b3bad;
        font-family: 'Junebug',sans-serif;
        min-width: 25vw;
    }

    .category:hover{
        margin: 15px;
        font-size: 3.5vw;
        color: white;
        border: solid tomato 1px;
        border-radius: 10px;
        background-color: tomato;
        font-family: 'Junebug',sans-serif;
        
    }

    .MagicScroll{
        max-height: 50%;
        border: 1x solid white;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: auto;
        margin: 0 auto;
    }
    .item{
        max-width:27.5vw;
        max-height:42vw;
        margin-right: 2.5vw;
        border-radius: 5px;
        transition: 1s;
    }

    .item:hover{
        transform: TranslateY(5px);
    }

    .rating{
        margin-left: 10px;
        width: 5vw;
        align-items: left;
        justify-content: left;
    }

    h1{
        font-size: 4vw;
        font-weight: 500;
        margin-left: 10px;
        color: white;
        text-align: left;
        font-family: 'Junebug',sans-serif;
    }

    span{
        font-size: 3vw;
        margin-left: 10px;
        color: white;
        text-align: left;
        font-family: 'Junebug',sans-serif;
    }
    

    .loader {
      background: #000;
      background: radial-gradient(#222, #000);
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 99999;
  }
  
  .loader-inner {
      bottom: 0;
      height: 60px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
  }
  
  .loader-line-wrap {
      animation: 
      spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
    ;
      box-sizing: border-box;
      height: 50px;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transform-origin: 50% 100%;
      width: 100px;
  }
  .loader-line {
      border: 4px solid transparent;
      border-radius: 100%;
      box-sizing: border-box;
      height: 100px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
  }
  .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
  .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
  .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
  .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
  .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
  
  .loader-line-wrap:nth-child(1) .loader-line {
      border-color: hsl(0, 80%, 60%);
      height: 90px;
      width: 90px;
      top: 7px;
  }
  .loader-line-wrap:nth-child(2) .loader-line {
      border-color: hsl(60, 80%, 60%);
      height: 76px;
      width: 76px;
      top: 14px;
  }
  .loader-line-wrap:nth-child(3) .loader-line {
      border-color: hsl(120, 80%, 60%);
      height: 62px;
      width: 62px;
      top: 21px;
  }
  .loader-line-wrap:nth-child(4) .loader-line {
      border-color: hsl(180, 80%, 60%);
      height: 48px;
      width: 48px;
      top: 28px;
  }
  .loader-line-wrap:nth-child(5) .loader-line {
      border-color: hsl(240, 80%, 60%);
      height: 34px;
      width: 34px;
      top: 35px;
  }
  
  @keyframes spin {
      0%, 15% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
