    @media only screen and (max-width: 450px){
    @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
    @font-face { font-family: Junebug; src: url('Tajawal.ttf'); } 

    body{
        background: rgb(6,0,36);
        background-image: linear-gradient(0deg, #0C002E 0.1%, rgb(0, 0, 0) 100%);       
        overflow: auto;
        padding: 2em;
        line-height: 1em;
    }

    img{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1, h2, h3, p{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .main{
        width: 100%;
        height: 10vw;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(37, 37, 37, 0.25);
    }

    .icon{
        position: sticky;
        width: 7.5vw;
        margin-right: 125px;
        margin-left: 125px;
    }


    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .postersmall{
        width: 35%;
        height: 27.5%;
        position: absolute;
        z-index: 1;
        border-radius: 10px;    
    }

    .poster{
        max-width: 100vw;
        max-height: 75vw;
        padding: 0;
        z-index: -1;
        filter: blur(25px);
        border-radius: 10px;
    }
    
    .button{
        background: url('PlayButton.png');
        background-position:center;
        background-repeat:no-repeat;
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 20vw;
        height: 20vw;
        align-items: center;
        justify-content: center;
        position: absolute;
        transition: 1.5s;
        z-index: 5;
    }
    .button:hover{
        transform: scale(1.25);
    }


    h1{
        font-family: Junebug;
        font-weight: 600;
        font-size: 6vw;
        color: white;
        text-align: center;
        
    }


    .info{
        display: flex;
        align-items: left;
        justify-content: left;
        overflow: auto;
    }

    .info2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    
    h2{
        font-family: Junebug;
        background-color: transparent;
        font-weight:600;
        font-size: 5vw;
        margin: 5px;
        color: whitesmoke;
        text-align: left;
    }

    h3{
        font-family: Junebug;
        font-size: 4vw;
        margin: 5vw;
        margin-right: 15px;
        color: white;
        text-align: right;
        
    }

    p{
        font-family: Junebug;
        font-size: 3.75vw;
        font-weight: 900;
        color: grey;
        text-align: right;
        margin-right: 15px;
    }
    
    .wallpapreshow{
        display: flex;
        align-items: left;
        justify-content: left;
        overflow: scroll;
    }
    .wallpaper{
        max-width: 60vw;
        max-height: 40vw;
        margin: 5px;
        border-radius: 20px;
        object-fit: cover;
    }

    .actor{
        overflow-x: hidden;
        width: 15vw;
        height: 15vw;
        margin: 10px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
    span{
        font-family: Junebug;
        font-size: 2.75vw;
        font-weight: 900;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .relateddiv{
        display: flex;
        overflow:scroll;
    }

    .related{
        width: 30vw;
        height: 40vw;
        margin: 5px;
        border-radius: 5px;
        object-fit: cover;
        object-position: top;
    }



    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: .3s;
    }

    .trailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.9);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
    .trailer video{
        max-width: 900px;
        outline: none;
        position: relative;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 42px;
        cursor: pointer;
    }
    @media (max-width: 901px){
        .trailer video{
            max-width: 90%;
        }

    }
}