    @media only screen and (max-width: 450px){
    @font-face { font-family: Junebug; src: url('Markaz.ttf'); } 

    body{
        background: rgb(38, 37, 39);
        background-image: linear-gradient(0deg, #262729 0.1%, rgb(0, 0, 0) 100%);       
        overflow: auto;
        padding: 1.5em;
        line-height: 1em;
    }

    img{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1, h2, h3, p{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /*  like and back  container */
    .main{
        width: 100%;
        height: 10vw;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(37, 37, 37, 0.25);
    }

    /*  like and back   */
    .icon{
        position: sticky;
        width: 7.5vw;
        margin-right: 125px;
        margin-left: 125px;
    }


    /*  poster containter   */
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .postersmall{
        max-width: 45%;
        max-height: 40%;
        position: absolute;
        border-radius: 10px;
    }
    
    /*  blur   */
    .poster{
        max-width: 100vw;
        max-height: 75vw;
        padding: 0;
        z-index: -1;
        filter:blur(25px);
        border-radius: 10px;
    }
    
    /*  play button   */
    .button{
        background: url('PlayButton.png');
        background-position:center;
        background-repeat:no-repeat;
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 20vw;
        height: 20vw;
        align-items: center;
        justify-content: center;
        position: absolute;
        transition: 1.5s;
        z-index: 5;
    }
    .button:hover{
        transform: scale(1.25);
    }

    /*  name   */
    h1{
        font-family: Junebug;
        font-weight: 500;
        font-size: 7vw;
        color: white;
        text-align: center;
        margin: 10px;
        line-height: 1em;
    }

    /*  for actors   */
    .info{
        display: flex;
        align-items: left;
        justify-content: left;
        overflow: auto;
    }

    /*  for information   */
    .info2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    /*  details   */
    h2{
        font-family: Junebug;
        background-color: transparent;
        font-weight:500;
        font-size: 5vw;
        margin: 5px;
        color: #d4d4d4;
        text-align: left;
        padding: 2vw;
        border: solid white 1px;
        border-bottom-left-radius: 2.5vw;
        border-top-right-radius: 2.5vw;
    }

    h3{
        font-family: Junebug;
        font-size: 4.5vw;
        font-weight: 600;
        margin: 5vw;
        margin-right: 15px;
        color: white;
        text-align: right;
    }

    h4{
        font-family: Junebug;
        font-size: 4.5vw;
        margin: 5vw;
        margin-right: 15px;
        color: white;
        text-align: center;
        color: #c02832;
        
    }

    p{
        font-family: Junebug;
        font-size: 3.5vw;
        font-weight: 900;
        color: rgb(206, 206, 206);
        text-align: right;
        margin-right: 15px;
        line-height: 1.75em;
    }


    .actor{
        overflow-x: hidden;
        width: 15vw;
        height: 15vw;
        margin: 15px;
        border-radius: 25%;
        object-fit: cover;
        object-position: top;
    }
    span{
        font-family: Junebug;
        font-size: 3.5vw;
        font-weight: 600;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .relateddiv{
        display: flex;
        overflow:scroll;
    }

    .related{
        width: 30vw;
        height: 40vw;
        margin: 5px;
        border-radius: 5px;
        object-fit: cover;
        object-position: top;
    }

    .movie{
        width: 75vw;
        height: 50vw;
    }



    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: .3s;
    }

    .trailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.9);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
    .trailer video{
        max-width: 900px;
        outline: none;
        position: relative;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 42px;
        cursor: pointer;
    }
    @media (max-width: 901px){
        .trailer video{
            max-width: 90%;
        }

    }
}

        /*  This Is For Ipad Device */
        /*  This Is For Ipad Device */
        /*  This Is For Ipad Device */
@media only screen and (min-width: 451px){
    @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
    @font-face { font-family: Junebug; src: url('Cairo.ttf'); } 

    body{
        background: rgb(38, 37, 39);
        background-image: linear-gradient(0deg, #262729 0.1%, rgb(0, 0, 0) 100%);       
        overflow: auto;
        padding: 1.5em;
        line-height: 1em;
    }

    img{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1, h2, h3, p{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .main{
        width: 100%;
        height: 7.5vw;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(37, 37, 37, 0.25);
    }

    .icon{
        position: sticky;
        width: 4vw;
        margin-right: 300px;
        margin-left: 300px;
    }


    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .postersmall{

        max-width: 25vw;
        position: absolute;
        border-radius: 10px;
    }

    .poster{
        max-width: 100vw;
        max-height: 40vw;
        padding: 0;
        z-index: -1;
        filter: blur(25px);
        border-radius: 10px;
    }
    
    .button{
        background: url('PlayButton.png');
        background-position:center;
        background-repeat:no-repeat;
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 10vw;
        height: 10vw;
        align-items: center;
        justify-content: center;
        position: absolute;
        transition: 1.5s;
        z-index: 5;
    }
    .button:hover{
        transform: scale(1.25);
    }


    h1{
        font-family: Junebug;
        font-weight: 600;
        font-size: 4vw;
        color: white;
        text-align: center;
        margin: 0px;   
        line-height: 1em;
    }


    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    .info2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2.5px;
    }
    
    h2{
        font-family: Junebug;
        background-color: transparent;
        font-weight:500;
        font-size: 2.5vw;
        margin: 10px;
        color: whitesmoke;
        text-align: center;
    }

    h3{
        font-family: Junebug;
        font-size: 2.5vw;
        margin: 30px;
        margin-right: 15px;
        color: white;
        text-align: right;
    }

    h4{
        font-family: Junebug;
        font-size: 2vw;
        margin: 3vw;
        margin-right: 15px;
        color: white;
        text-align: center;
        color: #c02832;
        
    }

    p{
        font-family: Junebug;
        font-size: 2vw;
        font-weight: 900;
        color: grey;
        text-align: right;
        margin-right: 15px;
        line-height: 1.75em;
    }

    .actor{
        overflow-x: hidden;
        width: 9vw;
        height: 9vw;
        margin: 15px;
        border-radius: 25%;
        object-fit: cover;
        object-position: top;
    }
    span{
        font-family: Junebug;
        font-size: 1.75vw;
        font-weight: 900;
        margin: 10px;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .relateddiv{
        display: flex;
        overflow:scroll;
    }

    .related{
        width: 15vw;
        height: 20vw;
        margin: 10px;
        border-radius: 5px;
        object-fit: cover;
        object-position: top;
    }

    .movie{
        width: 75vw;
        height: 35vw;
    }



    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: .3s;
    }

    .trailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.9);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
    .trailer video{
        max-width: 900vw;
        outline: none;
        position: relative;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 42px;
        cursor: pointer;
    }
    @media (max-width: 901px){
        .trailer video{
            max-width: 90%;
        }
    }
}


