    @media only screen and (max-width: 450px){
    @font-face { font-family: Junebug; src: url('Markaz.ttf'); } 

    body{
        background: rgb(38, 37, 39);
        background-image: linear-gradient(0deg, #161616 0.1%, rgb(0, 0, 0) 100%);       
        overflow: auto;
        padding: 1.5em;
        line-height: 1em;
    }

    img{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1, h2, h3, p{
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /*  like and back  container */
    .main{
        width: 100%;
        height: 10vw;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(37, 37, 37, 0.25);
    }

    /*  like and back   */
    .icon{
        position: sticky;
        width: 7.5vw;
        margin-right: 125px;
        margin-left: 125px;
    }


    /*  poster containter   */
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .postersmall{
        max-width: 45%;
        max-height: 40%;
        position: absolute;
        border-radius: 10px;
    }
    
    /*  blur   */
    .poster{
        max-width: 100vw;
        max-height: 75vw;
        padding: 0;
        z-index: -1;
        filter:blur(25px);
        border-radius: 10px;
    }
    
    /*  play button   */
    .button{
        background: url('PlayButton.png');
        background-position:center;
        background-repeat:no-repeat;
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 20vw;
        height: 20vw;
        align-items: center;
        justify-content: center;
        position: absolute;
        transition: 1.5s;
        z-index: 5;
    }
    .button:hover{
        transform: scale(1.25);
    }

    
    /*  for actors   */
    .info{
        display: flex;
        align-items: left;
        justify-content: left;
        overflow: auto;
    }
    
    /*  for information   */
    .info2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    
    /*  name   */
    h1{
        font-family: Junebug;
        font-weight: 500;
        font-size: 7vw;
        color: white;
        text-align: center;
        margin: 10px;
        line-height: 1em;
    }

    /*  details   */
    h2{
        font-family: Junebug;
        background-color: transparent;
        font-weight:500;
        font-size: 4.5vw;
        margin: 5px;
        color: #d4d4d4;
        text-align: left;
        padding: 2vw;
        border: solid white 0.5px;

    }

    h3{
        font-family: Junebug;
        font-size: 4.5vw;
        font-weight: 600;
        margin: 5vw;
        margin-right: 15px;
        color: white;
        text-align: right;
    }

    h4{
        font-family: Junebug;
        font-size: 4.5vw;
        margin: 5vw;
        margin-right: 15px;
        text-align: center;
        color:royalblue;
        
    }

    p{
        font-family: Junebug;
        font-size: 3.5vw;
        font-weight: 900;
        color: rgb(206, 206, 206);
        text-align: right;
        margin-right: 15px;
        line-height: 1.75em;
    }


    .actor{
        overflow-x: hidden;
        width: 15vw;
        height: 15vw;
        margin: 15px;
        border-radius: 25%;
        object-fit: cover;
        object-position: top;
    }
    span{
        font-family: Junebug;
        font-size: 3.5vw;
        font-weight: 600;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .relateddiv{
        display: flex;
        overflow:scroll;
    }

    .related{
        width: 30vw;
        height: 40vw;
        margin: 5px;
        border-radius: 5px;
        object-fit: cover;
        object-position: top;
    }

    .movie{
        width: 75vw;
        height: 50vw;
    }



    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: .3s;
    }

    .trailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.9);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
    .trailer video{
        max-width: 900px;
        outline: none;
        position: relative;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 42px;
        cursor: pointer;
    }
    @media (max-width: 901px){
        .trailer video{
            max-width: 90%;
        }

    }

    .loader {
        background: #000;
        background: radial-gradient(rgb(59, 59, 59), #000);
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99999;
    }
    
    .loader-inner {
        bottom: 0;
        height: 60px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }
    
    .loader-line-wrap {
        animation: 
        spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
      ;
        box-sizing: border-box;
        height: 50px;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform-origin: 50% 100%;
        width: 100px;
    }
    .loader-line {
        border: 4px solid transparent;
        border-radius: 100%;
        box-sizing: border-box;
        height: 100px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }
    .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
    .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
    .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
    .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
    .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
    
    .loader-line-wrap:nth-child(1) .loader-line {
        border-color: #000000;
        height: 90px;
        width: 90px;
        top: 7px;
    }
    .loader-line-wrap:nth-child(2) .loader-line {
        border-color: #000000;
        height: 76px;
        width: 76px;
        top: 14px;
    }
    .loader-line-wrap:nth-child(3) .loader-line {
        border-color: #000000;
        height: 62px;
        width: 62px;
        top: 21px;
    }
    .loader-line-wrap:nth-child(4) .loader-line {
        border-color: #000000;
        height: 48px;
        width: 48px;
        top: 28px;
    }
    .loader-line-wrap:nth-child(5) .loader-line {
        border-color: #000000;
        height: 34px;
        width: 34px;
        top: 35px;
    }
    
    @keyframes spin {
        0%, 15% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
}



