    @font-face { font-family: Junebug; src: url('Alegreya.ttf'); } 
    @font-face { font-family: Junebug2; src: url('Circular.otf'); } 
    @font-face { font-family: Junebug3; src: url('Tajawal.ttf'); }

    *{
        padding: 0vw;
        margin: 0;
        transition: 0.5s;
    }

    body{
        background: #000000;
    }

    .poster{
        position: sticky;
        width: 100%;
        min-height: 100vw;
        max-height: 100vw;
        z-index: -2;
        object-fit: cover;
        object-position: top;
        filter: brightness(90%);
    }

    .color-overlay{
        position: sticky;
        background-image: linear-gradient(transparent, #000000);
        width: 100vw;
        height: 100vw;
        margin-top: -100vw;
        z-index: -1;
    }

    .information{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    h1{
        font-weight: 500;
        color: white;
        font-size: 7vw;
        margin: 10px;
        margin-top: 10vw;
        text-align: center;
        font-family: Junebug;
    }
    .imdb{
        width: 15vw;
        max-height: 2.75vw;
        font-size: 3.5vw;
        margin: 5px;
        padding: 2vw;
        border-radius: 2.5px;
        font-family: Junebug3;
        background-color: #fcac00;
        color: black;
        text-align: center;
        direction: rtl;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .youtube{
        width: 15vw;
        max-height: 2.75vw;
        font-size: 3.5vw;
        margin: 5px;
        padding: 2vw;
        border-radius: 2.5px;
        font-family: Junebug3;
        background-color: hsl(0, 0%, 100%);
        color: black;
        text-align: center;
        direction: rtl;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .icon{
        max-width: 10vw;
        max-height: 10vw;
        margin-right: 2.5vw;
    }

    .icon2{
        max-width: 7vw;
        max-height: 7vw;
    }

    .icon3{
        max-width: 4vw;
        max-height: 4vw;
        margin-left: 2.5vw;
    }

    .agerating{
        max-height: 2.5vw;
        font-size: 4vw;
        margin: 5px;
        padding: 2vw;
        border-radius: 2.5px;
        font-family: Junebug3;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        direction: rtl;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    h3{
        color: whitesmoke;
        font-size: 3.5vw;
        font-weight: 500;
        margin: 5px;
        text-align: center;
        direction: rtl;
        font-family: Junebug3;
    }

    p{
        padding: 7.5vw;
        font-weight: 700;
        font-size: 3.5vw;
        text-align: center;
        color: #aaaaaa;
        font-family: Junebug3;
        line-height: 2em;
    }

    .play{
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .button{
        font-family: Junebug3;
        font-weight: 700;
        color: white;
        font-size: 4vw;
        text-align: center;
        background-color: rgb(231, 0, 0);
        width: 35vw;
        height: 7.5vw;
        border: none;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }


    .trailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.9);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
    .trailer video{
        max-width: 900px;
        outline: none;
        position: relative;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 42px;
        cursor: pointer;
    }
    @media (max-width: 901px){
        .trailer video{
            max-width: 90%;
        }

    }