    @font-face { font-family: Junebug; src: url('Alegreya.ttf'); } 
    @font-face { font-family: Junebug2; src: url('Circular.otf'); } 
    @font-face { font-family: Junebug3; src: url('Tajawal.ttf'); }

    *{
        padding: 0vw;
        margin: 0;
        transition: 0.5s;
    }

    body{
        background: whitesmoke;
    }

    .background{
        width: 100%;
        min-height: 50vw;
        max-height: 50vw;
        object-fit: cover;
        filter: brightness(25%);
    }

    .container{
        position: relative;
        display: flex;
        align-items: right;
        justify-content: right;
        margin: 2.5vw;
        margin-top: -10vw;
    }
    .poster{
        max-width: 40vw;
        max-height: 70vw;
        border-radius: 5vw;
    }
    h1{
        font-family: Junebug3;
        font-size: 6vw;
        font-weight: 900;
        margin: 2.5vw;
        margin-top: 10vw;
        padding-top: 2.5vw;
    }
    h2{
        color: #3f3f3f;
        font-family: Junebug3;
        font-size: 5vw;
        font-weight: 500;
        margin: 2.5vw;
        direction: rtl;
    }
    h3{
        position: sticky;
        color: black;
        font-family: Junebug3;
        font-size: 5vw;
        font-weight: 700;
        margin: 2.5vw;
        margin-top: -10vw;
        direction: rtl;
        display: inline-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: hsl(46, 100%, 50%);
        border-radius: 2.5vw;
        max-width: 16vw;
        max-height: 4vw;
        padding: 1vw;
        filter: brightness(50%);
    }
    .imdb{
        max-width: 10vw;
        max-height: 10vw;
    }

    h4{
        text-align: right;
        font-family: Junebug3;
        font-size: 3.5vw;
        font-weight: 900;
        margin: 2.5vw;
        color:red
    }

    p{
        margin-top: 25px;
        font-size: 4vw;
        padding: 3vw;
        text-align: right;
        font-family: Junebug3;
    }

    h5{
        text-align: center;
        font-family: Junebug3;
        font-size: 5vw;
        font-weight: 900;
        margin: 2.5vw;
        margin-top: 10vw;
        padding-top: 2.5vw;
    }
    
    .playbutton{
        margin: 10px;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*  play button   */
    .button{
        position: relative;
        font-family: Junebug3;
        font-weight: 900;
        font-size: 4vw;
        border-radius: 5px;
        border: none;
        width: 30vw;
        height: 10vw;
        transition: 1.5s;
        z-index: 5;
        padding: 1vw;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 31, 31);
        filter:brightness(100%);
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .play{
        max-width: 5vw;
        max-height: 5vw;
        margin-left: 2.5vw;
    }
    
    .relateddiv{
        display: flex;
        overflow:scroll;
        padding: 1vw;
    }
    
    .related{
        width: 30vw;
        height: 40vw;
        margin: 10px;
        border-radius: 5px;
        object-fit: cover;
        object-position: top;
    }
    span{
        font-family: Junebug;
        font-size: 4vw;
        font-weight: 600;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    

    .trailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.9);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
    .trailer video{
        max-width: 900px;
        outline: none;
        position: relative;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 42px;
        cursor: pointer;
    }
    @media (max-width: 901px){
        .trailer video{
            max-width: 90%;
        }

    }