    @media only screen and (max-width: 1024px){
    @font-face { font-family: Junebug; src: url('Markaz.ttf'); } 
    @font-face { font-family: Junebug2; src: url('Circular.otf'); } 
    @font-face { font-family: Junebug3; src: url('Tajawal.ttf'); }

    *{
        padding: 0;
        margin: 0;
    }

    body{
        background: rgb(0,0,0);
    }

    .poster{
        width: 100%;
        min-height: 100vw;
        max-height: 100vw;
        filter: brightness(75%);
        object-fit: cover;
        object-position: top;
    }

    .color-overlay{
        position: sticky;
        background-image: linear-gradient(transparent, black);
        width: 100vw;
        height: 100vw;
        margin-top: -100vw;
        z-index: 1;
    }
    
    /*  for information   */
    .information{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        z-index: 2;
    }

    /*  play button   */
    .button{
        position: relative;
        font-family: Junebug3;
        font-weight: 700;
        font-size: 4.5vw;
        border-radius: 15px;
        border: none;
        width: 50vw;
        height: 10vw;
        transition: 1.5s;
        color: white;
        background-color: #e72a2abf;
        box-shadow: 2.5px 5px #662a2abf;
    }

    .container{
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .play{
        margin: 10px;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .year{
        background-color: transparent;
        font-weight: 500;
        font-size: 4.75vw;
        margin: -10px;
        color: #a7a7a7;
    }

    /*  name   */
    h1{
        font-family: Junebug3;
        font-weight: 600;
        font-size: 6vw;
        color: white;
        text-align: center;
    }

    /*  details   */
    h2{
        position: sticky;
        font-family: Junebug3;
        font-weight:600;
        font-size: 3.75vw;
        width: 17.5vw;
        height: 8vw;
        margin: 2.5px;
        padding: 1.5vw;
        border-radius: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        direction: rtl;
        background-color: hsla(0, 0%, 33%, 0.25);
        color: whitesmoke;
    }

    h3{
        font-family: Junebug;
        font-size: 4.5vw;
        font-weight: 600;
        margin: 5vw;
        margin-right: 15px;
        color: white;
        text-align: right;
    }

    p{
        font-family: Junebug;
        font-size: 4vw;
        font-weight: 700;
        color: rgb(206, 206, 206);
        text-align: right;
        margin-right: 15px;
        line-height: 1.75em;
        padding: 2vw;
    }

    span{
        font-family: Junebug3;
        font-size: 2.75vw;
        font-weight: 600;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .relateddiv{
        display: flex;
        overflow:scroll;
        padding: 1vw;
    }

    .related{
        width: 30vw;
        height: 40vw;
        margin: 5px;
        border-radius: 5px;
        object-fit: cover;
        object-position: top;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: .3s;
    }

    .trailer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.9);
        z-index: 10;
        visibility: hidden;
        opacity: 0;
    }
    .trailer video{
        max-width: 900px;
        outline: none;
        position: relative;
    }
    .close{
        position: absolute;
        top: 30px;
        right: 30px;
        color: #fff;
        font-size: 42px;
        cursor: pointer;
    }
    @media (max-width: 901px){
        .trailer video{
            max-width: 90%;
        }
    }
}



